<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>中通科技|中通聚合支付 - 后台管理 - 支付渠道编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" style="padding: 20px 30px 0 0;">
    <input type="text" name="id" hidden disabled value="{$channel.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">过期时间（秒）：</label>
        <div class="layui-input-block">
            <input type="number" name="timeout" required lay-verify="required" placeholder="请输入过期时间" autocomplete="off" class="layui-input" value="{$channel.timeout}">
        </div>
    </div>







    <div class="layui-form-item ">
        <label class="layui-form-label">是否开启中转：</label>
        <div class="layui-input-block">
            <input type="radio" name="transfer_status" lay-filter="radio-type"  value="1" title="启用" {$channel.transfer_status == 1?'checked':''}>
            <input type="radio" name="transfer_status"  lay-filter="radio-type" value="0" title="禁用" {$channel.transfer_status == 0?'checked':''}>
        </div>
    </div>



    <!--<div class="layui-form-item transfer_add">-->
    <!--    <label class="layui-form-label">中转地址：</label>-->
    <!--    <div class="layui-input-block">-->
    <!--        <input type="text" name="transfer_add"   placeholder="请输入中转地址" autocomplete="off" class="layui-input" value="{$channel.transfer_add}">-->
            <!--            <div class="layui-form-mid layui-word-aux">注：执行相关控制器类名称</div>-->
    <!--    </div>-->
    <!--</div>-->
    
    
     <div class="layui-form-item transfer_add">
    <label class="layui-form-label">中转地址：</label>
    <div class="layui-input-block">
      <select name="transfer_add" >
        <option value=""></option>
        {volist id="data" name="data"}
        <option value="{$data.url}" {$channel.transfer_add == $data.url?'selected':''}>{$data.name}</option>
        {/volist}
      </select>
    </div>
  </div>
    
    



    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="app-pay-channel-submit" id="app-pay-channel-submit" value="确认">
    </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__ADMIN__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','laydate', 'form'], function(){
        var $ = layui.$
            ,laydate = layui.laydate
            ,form = layui.form;

        $(function(){
            if($("input[name='transfer_status'][checked]").val() == 0){
                $(".transfer_add").hide();
            }
        })

        form.on('radio(radio-type)', function (data) {  //radio-type为lay-filter的属性值
            if (data.value === "1") {
                $(".transfer_add").show();
            }else{
                $(".transfer_add").hide();
            }
        });

    })
</script>
</body>
</html>